<DOCTYPE html>
<html>

  <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41793274 = new Ya.Metrika({ id:41793274, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/41793274" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <head lang="en">
        <meta charset="UTF-8">
        <title>'ATARI'</title>
        <script src="../static/js/javatari.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"></style>
    </head>

    <body>
      <div class='main-block-mobile'>
        <h1>Hi there!</h1>  
        <p><i>Unfortunately, this website is only for computers with keyboards. 
          It's impossible to play these games without it, so turn on your laptop/desktop and welcome aboard!</i></p>
        <p>
          You've definitely stumbled upon the news shouting that Artificial Intelligence
          has finally beaten humans in <i>this</i> or <i>that</i>, or at least is close to us. 
          <a href="https://en.wikipedia.org/wiki/Deep_Blue_versus_Garry_Kasparov">Kasparov and Deep Blue</a>, <a href="https://deepmind.com/research/dqn/">Atari 2600</a>, <a href="https://deepmind.com/research/alphago/">Go</a>, <a href="https://www.youtube.com/watch?v=947bSUtuSQ0">Doom</a>, what is next? Now when we have plenty of environments like <a href="https://openai.com/blog/universe/">OpenAI Universe</a>, <a href="https://www.microsoft.com/en-us/research/project/project-malmo/">Microsoft Minecraft Malmo</a>, <a href="https://deepmind.com/blog/deepmind-and-blizzard-release-starcraft-ii-ai-research-environment/">DeepMind SCII</a> who knows what will happen tomorrow?
        </p>
        <p>
          Doesn't it hit your pride? If yes, dive into this website and
          give AI a fight in Atari 2600 games: Q*bert, Video Pinball, Ms.Pacman, Space Invaders, and Montezuma's revenge. 
          The AI best scores were taken from <a href="http://www.nature.com/nature/journal/v518/n7540/full/nature14236.html">this</a> 
          Nature paper by Mnih et al.
        </p>

        <p>More seriously, my name is <a href="https://github.com/yobibyte/yobiblog">Vitaly Kurin</a> and I want to collect a dataset
					of human Atari games replays and use it for my master thesis partly connected
					to reinforcement learning research. As soon as the dataset is cleaned and
					polished, I will make it open, so that everybody will be able to use it
					for own research. So, by playing you accelerate the progress of human civilisation ;)
				</p>	

				<p>My advisors for the thesis are <a href="http://www.nowozin.net/sebastian/">Sebastian Nowozin</a> from 
					<a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-cambridge/">Microsoft Research</a> in Cambridge, UK, <a href="https://scholar.google.com/citations?user=ZcULDB0AAAAJ">Bastian Leibe</a> and <a href="http://lucasb.eyer.be/">Lucas Beyer</a> from <a href="http://www.vision.rwth-aachen.de/">Computer Vision group</a> at <a href="http://www.rwth-aachen.de">RWTH Aachen University</a>. 
				</p>

        <p>I would also like to thank the creator of <a href="http://javatari.org/">Javatari.js</a> 
						<a href="https://github.com/ppeccin">Paulo Augusto Peccin</a> for
						the open source js Atari emulator and his help in answering many of my
						questions.
				</p>

				<p><b>Disclaimer.</b> Java, Atari and Video Computer System are trademarks of their respective owners. 
					This project is completely non-commercial and created only for the benefit of the research community.
				</p>

			</div>
			<div id="footer-mobile">
      	<p>Question? Problem? Idea? Write <a href="mailto:vitaliykurin@gmail.com">me</a> or find me <a href="https://github.com/yobibyte/yobiblog">here</a> =)</p>
      	<p>Java, Atari and Video Computer System are trademarks of their respective owners.</p>
    	</div>
    </body>

</html>
