<DOCTYPE html>
<html>
  <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41793274 = new Ya.Metrika({ id:41793274, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/41793274" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <head lang="en">
        <meta charset="UTF-8">
        <title>'ATARI'</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
        <script type="text/javascript"> window.Javatari_IMAGES_PATH = '{{ url_for('static',filename='img/') }}';</script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"></style>
    </head>

    <body>
      <div class="main-block-mobile">
        <h2>Hi! Really glad to see you here.</h2>
        <div>
          <p>Unfortunately, this website is only for computers with keyboards. 
          It's impossible to play these games without it.</p>
          
          <p>If you want to know more about the project, have a look <b><a href="/about">here</a></b>
          or turn on your laptop/desktop and welcome aboard!</p>
        </div>
      </div>
    <div id="footer-mobile">
      <p>Question? Problem? Idea? Write <a href="mailto:vitaliykurin@gmail.com">me</a> or find me <a href="https://github.com/yobibyte/yobiblog">here</a> =)</p>
    </div>
    </body>

</html>
