<DOCTYPE html>
<html>

  <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41793274 = new Ya.Metrika({ id:41793274, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/41793274" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <head lang="en">
        <meta charset="UTF-8">
        <title>'ATARI'</title>
        <script src="../static/js/javatari.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"></style>
    </head>

    <body class="about">
      <div class='main-block'>
        <h1>Hi there!</h1>  

        <div>The data has finally arrived! You can download and play with it.</div>

        <div>There are several options for you:
            <ul>
                <li>the whole dataset (screenshots + trajectories) for all five games</li>
                <li>trajectories only for all five games</li>
                <li>per-game screenshots+trajectories:
                    <ul>
                        <li>Space Invaders</li>
                        <li>Q*bert</li>
                        <li>Ms. Pacman</li>
                        <li>Video Pinball</li>
                        <li>Montezuma's Revenge</li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div>Please cite the Atari Grand Challenge dataset as: TBD.</div>

        <div>In case you found a bug or just in trouble,  email me vitaliykurin@gmail.com =)</div>

        <div><b>P.S.</b> Stay tuned. People keep playing and we get more data every day. We will update the dataset in the near future.</div>
        
      </div>
			<div id="footer">
      	<p>Question? Problem? Idea? Write <a href="mailto:vitaliykurin@gmail.com">me</a> or find me <a href="https://github.com/yobibyte/yobiblog">here</a> =)</p>
      	<p>Java, Atari and Video Computer System are trademarks of their respective owners.</p>
    	</div>
    </body>

</html>
